.body {
	background-color: #ffffff;
	font: 11px sans-serif;
}

.legend {
	left:20px;
	position:absolute;
	top:30px;
}

.tooltip {
	background: lightsteelblue;
  border: 0;
  border-radius: 3px;
	font: 12px sans-serif;
	height: auto;
	padding: 5px;
	pointer-events: none;
  position: absolute;
  text-align: left;
  width: auto;
}